*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 2px;
}

body {
	font-family: sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

nav {
	padding: 20px;
	background: aliceblue;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}

.nav-links a {
	font-size: 20px;
	font-weight: 500;
}

.nav-links a:hover {
	color: blue;
}

.container {
	min-height: calc(100vh - 70px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.container h2 {
	color: aliceblue;
	padding: 40px 50px;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}



.btn {
  background: white
	color: #000;
	padding: 10px 20px;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
}
.btn:hover {
	opacity: 0.8;
}

.nav-links li  a.active {
	font-weight: 700;
}